<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="register">
    <h2 class="clearfloat"><span>新用户注册</span></h2>

    <form action="" id="form"></form>
    <ul>
        <li>
            <input type="text" id="uphone" placeholder="请输入手机号" />
            <span></span>
            <i></i>
        </li>
        <li>
            <input type="text" id="uname" placeholder="姓名"/>
            <span></span>
            <i></i>
        </li>
        <li>
            <input type="text" id="account" placeholder="账号"/>
            <span></span>
            <i></i>
        </li>
        <li>
            <input type="password" id="upwd1" placeholder="请输入密码"/>
            <span></span>
            <i></i>
        </li>
        <li>
            <input type="password" id="upwd2" placeholder="请再次输入密码"/>
            <span></span>
            <i></i>
        </li>

    </ul>
     <p><input id="check-code" type="text"/><img class="code-key" src="">
         <span></span>
         <i>dfdf</i>
     </p>
    <button type="button" id="register" >提交注册</button>
</div>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/register.js"></script>
</body>
</html>